# 1.

In [2]:
# code:
def is_symmetrical(num):
    # Convert the number to a string and check if it's equal to its reverse
    return str(num) == str(num)[::-1]

# Examples
print(is_symmetrical(7227)) 
print(is_symmetrical(12567))

True
False

# 2.

In [3]:
# code:
def multiply_nums(nums_str):
    # Split the string by comma and space to get individual numbers
    nums_list = nums_str.split(', ')
    
    # Initialize the product to 1
    product = 1
    
    # Multiply each number in the list with the product
    for num in nums_list:
        product *= int(num)
    
    return product

# Example:
print(multiply_nums("1, 2, 3, 4"))

24

# 3.

In [4]:
# code:
def square_digits(num):
    # Convert the number to a string to access individual digits
    num_str = str(num)
    
    # Initialize an empty string to store squared digits
    squared_digits_str = ""
    
    # Iterate through each digit in the string
    for digit in num_str:
        # Square the digit, convert back to string, and append to squared_digits_str
        squared_digits_str += str(int(digit) ** 2)
    
    # Convert the squared_digits_str back to an integer and return
    return int(squared_digits_str)

# Example:
print(square_digits(9119))

811181

# 4.

In [6]:
# code:
def setify(lst):
    # Sort the list and convert it to a set to remove duplicates, then convert back to a list
    sorted_unique_lst = list(set(sorted(lst)))
    return sorted_unique_lst

# Example:
print(setify([5, 7, 8, 9, 10, 15]))

[5, 7, 8, 9, 10, 15]

# 5.

In [7]:
# code:
def mean(num):
    # Convert the number to a string to iterate through its digits
    num_str = str(num)
    
    # Calculate the sum of digits and the count of digits
    sum_digits = sum(int(digit) for digit in num_str)
    count_digits = len(num_str)
    
    # Calculate the mean and return it as an integer
    mean_value = sum_digits // count_digits
    return mean_value

# Example:
print(mean(12345))

3